@import url("chrome://browser/skin/browser-common.css");

#titlebar {
  -moz-appearance: none !important;
  -moz-window-dragging: drag;
  background-color: rgba(237,237,237,1);
}

#titlebar:-moz-window-inactive {
  background-color: rgba(246,246,246,1);
}

.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-text,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-badge-container > .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .5;
}

/** Begin titlebar **/
#titlebar-buttonbox > .titlebar-button {
  display: none;
}

.titlebar-placeholder[type="caption-buttons"],
#titlebar-buttonbox {
  margin-left: 9px;
  margin-right: 2px;
}

@media (-moz-mac-lion-theme) {
  .titlebar-placeholder[type="fullscreen-button"],
  #titlebar-secondary-buttonbox {
    margin-right: 7px;
    margin-left: 7px;
  }
}

#main-window:not([tabsintitlebar]) > #titlebar {
  height: 22px;
}
#main-window:not([tabsintitlebar]):not([inFullscreen]):not([privatebrowsingmode]) #navigator-toolbox toolbar:first-child { /*hack by Louis*/
  height: 22px;
  display: -moz-box;
}
#main-window:not([tabsintitlebar]):not([privatebrowsingmode]) {
  -moz-binding: url("chrome://ostarget/skin/tab.xml#drawintitlebar");
}

#main-window[tabsintitlebar] > #titlebar {
  min-height: 36px;
}

#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
  margin-top: 10px;
}
/** End titlebar **/

#navigator-toolbox > #toolbar-menubar {
  margin-top: 0;
}

/* Private browsing indicators */
.private-browsing-indicator,
#main-window[inFullscreen] #TabsToolbar > .private-browsing-indicator {
  background: url("chrome://browser/skin/privatebrowsing-mask-titlebar-XPVista7.png") no-repeat center 0px;
  width: 40px;
  height: 20px;
  margin: 0 4px;
  display: block;
}

#titlebar-secondary-buttonbox > .private-browsing-indicator {
  position: relative;
}

#main-window:not([privatebrowsingmode=temporary]) .private-browsing-indicator,
#main-window[privatebrowsingmode=temporary][inFullscreen] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > .private-browsing-indicator,
#main-window[privatebrowsingmode=temporary]:not([inFullscreen]) > #tab-view-deck > #browser-panel > #navigator-toolbox > #TabsToolbar > .private-browsing-indicator {
  display: none;
}

@media (-moz-mac-lion-theme) {
  #TabsToolbar > .private-browsing-indicator {
    margin-right: -46px !important;
  }

  #main-window[privatebrowsingmode=temporary] .titlebar-placeholder[type="fullscreen-button"],
  #main-window[privatebrowsingmode=temporary] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
    margin-left: 0px;
  }

  #main-window[privatebrowsingmode=temporary][inFullscreen] .titlebar-placeholder[type="fullscreen-button"] {
    display: -moz-box;
  }
}

#TabsToolbar > .private-browsing-indicator:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 0;
}
/* End private browsing indicators */

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  font-weight: normal;
  color: #222;
}

.bookmark-item > .toolbarbutton-text {
  display: -moz-box;
  margin: 0;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.bookmark-item:hover,
toolbarbutton.bookmark-item[open="true"] {
  background-color: rgba(0,0,0,.205);
}

toolbarbutton.bookmark-item:active:hover,
toolbarbutton.bookmark-item[open="true"] {
  color: #FFF;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4),0 1px rgba(255,255,255,0.4);
  background-color: rgba(0,0,0,.5);
}

toolbarbutton.bookmark-item > menupopup {
  margin-top: 2px;
  -moz-margin-start: 3px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  min-height: 16px;
  max-height: 16px;
}

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  -moz-margin-end: 5px;
}

#urlbar,
.searchbar-textbox {
  font: icon;
}

.tabbrowser-tab,
.tabs-newtab-button,
.ac-url-text,
.ac-action-text {
  font: message-box;
}

#BMB_bookmarksPopup[side="top"],
#BMB_bookmarksPopup[side="bottom"] {
  margin-left: -16px;
  margin-right: -24px;
}

/* History Swipe Animation */

#historySwipeAnimationCurrentPage,
#historySwipeAnimationNextPage {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

#historySwipeAnimationContainer {
  -moz-appearance: -moz-mac-vibrancy-light;
  background: rgba(237,237,237,1);
}

.tab-drop-indicator {
  margin-bottom: -24px;
}

#context-navigation > .menuitem-iconic {
  padding-left: 0;
  padding-right: 0;
}

@media (min-resolution: 2dppx) {
  .tab-close-button {
	-moz-image-region: rect(0, 128px, 32px, 96px);
    list-style-image: url("chrome://global/skin/icons/close@2x.png");
  }

  .tab-close-button:hover,
  .tab-close-button:hover[selected="true"] {
    -moz-image-region: rect(0, 64px, 32px, 32px);
  }

  .tab-close-button:hover:active,
  .tab-close-button:hover:active[selected="true"] {
    -moz-image-region: rect(0, 96px, 32px, 64px);
  }

  .tab-close-button[selected="true"] {
    -moz-image-region: rect(0, 32px, 32px, 0);
  }
  .panel-promo-closebutton > .toolbarbutton-icon,
  .tab-close-button > .toolbarbutton-icon,
  .tabs-closebutton > .toolbarbutton-icon, /*sidebar*/
  .findbar-closebutton > .toolbarbutton-icon,
  .messageCloseButton > .toolbarbutton-icon {
    width: 16px !important;
  }
}
