@import url("chrome://browser/skin/browser-common.css");

#titlebar {
  -moz-appearance: none !important;
  -moz-window-dragging: drag;
  background-color: rgba(237,237,237,1);
}

#titlebar:-moz-window-inactive {
  background-color: rgba(246,246,246,1);
}

.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-text,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-badge-container > .toolbarbutton-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menu-dropmarker,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
.toolbarbutton-1:-moz-window-inactive > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  opacity: .5;
}

/** Begin titlebar **/
#titlebar-buttonbox > .titlebar-button {
  display: none;
}

.titlebar-placeholder[type="caption-buttons"],
#titlebar-buttonbox {
  margin-left: 9px;
  margin-right: 2px;
}

@media (-moz-mac-lion-theme) {
  .titlebar-placeholder[type="fullscreen-button"],
  #titlebar-secondary-buttonbox {
    margin-right: 7px;
    margin-left: 7px;
  }
}

#main-window:not([tabsintitlebar]) > #titlebar {
  height: 22px;
}
#main-window:not([tabsintitlebar]):not([inFullscreen]):not([privatebrowsingmode]) #navigator-toolbox toolbar:first-child { /*hack by Louis*/
  height: 22px;
  display: -moz-box;
}
#main-window:not([tabsintitlebar]):not([privatebrowsingmode]) {
  -moz-binding: url("chrome://ostarget/skin/tab.xml#drawintitlebar");
}

#main-window[tabsintitlebar] > #titlebar {
  min-height: 36px;
}

#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window[tabsintitlebar] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
  margin-top: 10px;
}
/** End titlebar **/

#navigator-toolbox > #toolbar-menubar {
  margin-top: 0;
}

/* Private browsing indicators */
.private-browsing-indicator,
#main-window[inFullscreen] #TabsToolbar > .private-browsing-indicator {
  background: url("chrome://browser/skin/privatebrowsing-mask-titlebar-XPVista7.png") no-repeat center 0px;
  width: 40px;
  height: 20px;
  margin: 0 4px;
  display: block;
}

#titlebar-secondary-buttonbox > .private-browsing-indicator {
  position: relative;
}

#main-window:not([privatebrowsingmode=temporary]) .private-browsing-indicator,
#main-window[privatebrowsingmode=temporary][inFullscreen] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > .private-browsing-indicator,
#main-window[privatebrowsingmode=temporary]:not([inFullscreen]) > #tab-view-deck > #browser-panel > #navigator-toolbox > #TabsToolbar > .private-browsing-indicator {
  display: none;
}

@media (-moz-mac-lion-theme) {
  #TabsToolbar > .private-browsing-indicator {
    margin-right: -46px !important;
  }

  #main-window[privatebrowsingmode=temporary] .titlebar-placeholder[type="fullscreen-button"],
  #main-window[privatebrowsingmode=temporary] > #titlebar > #titlebar-content > #titlebar-secondary-buttonbox > #titlebar-fullscreen-button {
    margin-left: 0px;
  }

  #main-window[privatebrowsingmode=temporary][inFullscreen] .titlebar-placeholder[type="fullscreen-button"] {
    display: -moz-box;
  }
}

#TabsToolbar > .private-browsing-indicator:-moz-locale-dir(rtl) {
  -moz-box-ordinal-group: 0;
}
/* End private browsing indicators */

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  font-weight: normal;
  color: #222;
}

.bookmark-item > .toolbarbutton-text {
  display: -moz-box;
  margin: 0;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.bookmark-item:hover,
toolbarbutton.bookmark-item[open="true"] {
  background-color: rgba(0,0,0,.205);
}

toolbarbutton.bookmark-item:active:hover,
toolbarbutton.bookmark-item[open="true"] {
  color: #FFF;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.4),0 1px rgba(255,255,255,0.4);
  background-color: rgba(0,0,0,.5);
}

toolbarbutton.bookmark-item > menupopup {
  margin-top: 2px;
  -moz-margin-start: 3px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  min-height: 16px;
  max-height: 16px;
}

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  -moz-margin-end: 5px;
}

#urlbar,
.searchbar-textbox {
  font: icon;
}

.tabbrowser-tab,
.tabs-newtab-button,
.ac-url-text,
.ac-action-text {
  font: message-box;
}

#BMB_bookmarksPopup[side="top"],
#BMB_bookmarksPopup[side="bottom"] {
  margin-left: -16px;
  margin-right: -24px;
}

/* History Swipe Animation */

#historySwipeAnimationCurrentPage,
#historySwipeAnimationNextPage {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

#historySwipeAnimationContainer {
  -moz-appearance: -moz-mac-vibrancy-light;
  background: rgba(237,237,237,1);
}

.tab-drop-indicator {
  margin-bottom: -24px;
}

#context-navigation > .menuitem-iconic {
  padding-left: 0;
  padding-right: 0;
}

@media (min-resolution: 2dppx) {
  .tab-close-button {
	-moz-image-region: rect(0, 128px, 32px, 96px);
    list-style-image: url("chrome://global/skin/icons/close@2x.png");
  }

  .tab-close-button:hover,
  .tab-close-button:hover[selected="true"] {
    -moz-image-region: rect(0, 64px, 32px, 32px);
  }

  .tab-close-button:hover:active,
  .tab-close-button:hover:active[selected="true"] {
    -moz-image-region: rect(0, 96px, 32px, 64px);
  }

  .tab-close-button[selected="true"] {
    -moz-image-region: rect(0, 32px, 32px, 0);
  }
  .panel-promo-closebutton > .toolbarbutton-icon,
  .tab-close-button > .toolbarbutton-icon,
  .tabs-closebutton > .toolbarbutton-icon, /*sidebar*/
  .findbar-closebutton > .toolbarbutton-icon,
  .messageCloseButton > .toolbarbutton-icon {
    width: 16px !important;
  }
}

/* ::::: primary toolbar buttons HiDPI ::::: */
@media (min-resolution: 2dppx) {
  :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button),
  #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: url("chrome://browser/skin/Toolbar@2x.png");
  }

  toolbar[brighttext] :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button),
  toolbar[brighttext] #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    list-style-image: url("chrome://browser/skin/Toolbar-inverted@2x.png");
  }

  #back-button {
    -moz-image-region: rect(0, 72px, 36px, 36px);
  }

  #forward-button {
    -moz-image-region: rect(0, 144px, 36px, 108px);
  }

  #home-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 252px, 36px, 216px);
  }

  #bookmarks-menu-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 288px, 36px, 252px);
  }

  #bookmarks-menu-button[cui-areatype="toolbar"][starred] {
    -moz-image-region: rect(0, 324px, 36px, 288px);
  }

  #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    -moz-image-region: rect(0px, 1260px, 36px, 1224px);
  }

  #history-panelmenu[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 360px, 36px, 324px);
  }

  #downloads-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 396px, 36px, 360px);
  }

  #add-ons-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 432px, 36px, 396px);
  }

  #open-file-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 468px, 36px, 432px);
  }

  #save-page-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 504px, 36px, 468px);
  }

  #sync-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 540px, 36px, 504px);
  }

  #sync-button[cui-areatype="toolbar"][status="active"],
  #sync-button[cui-areatype="toolbar"][status="active"]:hover:active:not([disabled="true"]) {
    list-style-image: url("chrome://browser/skin/syncProgress-toolbar@2x.png");
    -moz-image-region: rect(0, 36px, 36px, 0px);
  }

  toolbar[brighttext] #sync-button[status="active"],
  toolbar[brighttext] #sync-button[status="active"]:hover:active:not([disabled="true"]) {
    list-style-image: url("chrome://browser/skin/syncProgress-toolbar-inverted@2x.png");
  }

  #feed-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 576px, 36px, 540px);
  }

  #social-share-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 612px, 36px, 576px);
  }

  #characterencoding-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 648px, 36px, 612px);
  }

  #new-window-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 684px, 36px, 648px);
  }

  #e10s-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 684px, 36px, 648px);
  }

  #e10s-button > .toolbarbutton-icon {
    transform: scaleY(-1);
  }

  #new-tab-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 720px, 36px, 684px);
  }

  #privatebrowsing-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 756px, 36px, 720px);
  }

  #find-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 792px, 36px, 756px);
  }

  #print-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 828px, 36px, 792px);
  }

  #fullscreen-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 864px, 36px, 828px);
  }

  #developer-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 900px, 36px, 864px);
  }

  #preferences-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 936px, 36px, 900px);
  }

  #PanelUI-menu-button {
    -moz-image-region: rect(0, 972px, 36px, 936px);
  }

  #edit-controls:not(:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true])) > #cut-button {
    -moz-image-region: rect(0, 1008px, 36px, 972px);
  }

  #edit-controls:not(:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true])) > #copy-button {
    -moz-image-region: rect(0, 1044px, 36px, 1008px);
  }

  #edit-controls:not(:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true])) > #paste-button {
    -moz-image-region: rect(0, 1080px, 36px, 1044px);
  }

  #zoom-controls:not(:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true])) > #zoom-out-button {
    -moz-image-region: rect(0, 1116px, 36px, 1080px);
  }

  #zoom-controls:not(:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true])) > #zoom-in-button {
    -moz-image-region: rect(0, 1152px, 36px, 1116px);
  }

  #nav-bar-overflow-button {
    -moz-image-region: rect(0, 1224px, 36px, 1188px);
  }

  #nav-bar-overflow-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
    transform: scaleX(-1);
  }

  #tabview-button {
    -moz-image-region: rect(0, 1296px, 36px, 1260px);
  }

  #email-link-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 1332px, 36px, 1296px);
  }

  #sidebar-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 1368px, 36px, 1332px);
  }

  #panic-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 1404px, 36px, 1368px);
  }

  #panic-button[cui-areatype="toolbar"][open] {
    -moz-image-region: rect(36px, 1404px, 72px, 1368px);
  }

  #panic-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
    transform: scaleX(-1);
  }

  #web-apps-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 1440px, 36px, 1404px);
  }

  #loop-button > .toolbarbutton-badge-container {
    list-style-image: url("chrome://browser/skin/loop/toolbar@2x.png");
    -moz-image-region: rect(0, 36px, 36px, 0);
  }

  toolbar[brighttext] #loop-button > .toolbarbutton-badge-container {
    list-style-image: url("chrome://browser/skin/loop/toolbar-inverted@2x.png");
  }

  #loop-button[state="disabled"] > .toolbarbutton-badge-container,
  #loop-button[disabled="true"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 72px, 36px, 36px);
  }

  #loop-button:not([disabled="true"])[state="error"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 108px, 36px, 72px);
  }

  #loop-button:not([disabled="true"])[state="action"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 144px, 36px, 108px);
  }

  #loop-button:not([disabled="true"])[state="action"]:-moz-any(:hover,:hover:active,[open]) > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 180px, 36px, 144px);
  }

  #loop-button:not([disabled="true"])[state="active"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 216px, 36px, 180px);
  }

  #loop-button:not([disabled="true"])[state="active"]:-moz-any(:hover,:hover:active,[open]) > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 252px, 36px, 216px);
  }

  #webide-button[cui-areatype="toolbar"] {
    -moz-image-region: rect(0, 1476px, 36px, 1440px);
  }

  :root {
    --menupanel-list-style-image-2x: url(chrome://browser/skin/menuPanel@2x.png);
    --menupanel-small-list-style-image-2x: url(chrome://browser/skin/menuPanel-small@2x.png);
  }

  /* Whitelist built-in buttons, instead of .toolbarbutton-1,
     to avoid potentially breaking add-on toolbar buttons. */

  :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button) > .toolbarbutton-icon,
  :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
  #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
    width: 32px;
  }

  #forward-button > .toolbarbutton-icon {
    width: 24px; /* 32 - 4 - 4 */
  }

  /* Menu panel and palette styles */

  toolbaritem[sdkstylewidget="true"] > toolbarbutton,
  :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button)[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button) {
    list-style-image: var(--menupanel-list-style-image-2x);
  }

  #home-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #home-button {
    -moz-image-region: rect(0px, 256px, 64px, 192px);
  }

  #bookmarks-menu-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #bookmarks-menu-button {
    -moz-image-region: rect(0px, 384px, 64px, 320px);
  }

  #bookmarks-menu-button[cui-areatype="menu-panel"][panel-multiview-anchor=true] {
    -moz-image-region: rect(64px, 384px, 128px, 320px);
  }

  #history-panelmenu[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #history-panelmenu {
    -moz-image-region: rect(0px, 448px, 64px, 384px);
  }

  #history-panelmenu[cui-areatype="menu-panel"][panel-multiview-anchor=true] {
    -moz-image-region: rect(64px, 448px, 128px, 384px);
  }

  #downloads-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #downloads-button {
    -moz-image-region: rect(0px, 512px, 64px, 448px);
  }

  #add-ons-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #add-ons-button {
    -moz-image-region: rect(0px, 576px, 64px, 512px);
  }

  #open-file-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #open-file-button {
    -moz-image-region: rect(0px, 640px, 64px, 576px);
  }

  #save-page-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #save-page-button {
    -moz-image-region: rect(0px, 704px, 64px, 640px);
  }

  #sync-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #sync-button {
    -moz-image-region: rect(0px, 768px, 64px, 704px);
  }

  #sync-button[cui-areatype="menu-panel"][status="active"] {
    list-style-image: url(chrome://browser/skin/syncProgress-menuPanel@2x.png);
    -moz-image-region: rect(0px, 64px, 64px, 0px);
  }

  #feed-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #feed-button {
    -moz-image-region: rect(0px, 832px, 64px, 768px);
  }

  #social-share-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #social-share-button {
    -moz-image-region: rect(0px, 896px, 64px, 832px);
  }

  #characterencoding-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #characterencoding-button {
    -moz-image-region: rect(0, 960px, 64px, 896px);
  }

  #characterencoding-button[cui-areatype="menu-panel"][panel-multiview-anchor=true] {
    -moz-image-region: rect(64px, 960px, 128px, 896px);
  }

  #new-window-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #new-window-button {
    -moz-image-region: rect(0px, 1024px, 64px, 960px);
  }

  #e10s-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #e10s-button {
    -moz-image-region: rect(0px, 1024px, 64px, 960px);
  }

  #new-tab-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #new-tab-button {
    -moz-image-region: rect(0px, 1088px, 64px, 1024px);
  }

  #privatebrowsing-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #privatebrowsing-button {
    -moz-image-region: rect(0px, 1152px, 64px, 1088px);
  }

  #tabview-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #tabview-button {
    -moz-image-region: rect(0px, 1216px, 64px, 1152px);
  }

  #find-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #find-button {
    -moz-image-region: rect(0px, 1280px, 64px, 1216px);
  }

  #print-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #print-button {
    -moz-image-region: rect(0px, 1344px, 64px, 1280px);
  }

  #fullscreen-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #fullscreen-button {
    -moz-image-region: rect(0px, 1408px, 64px, 1344px);
  }

  #developer-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #developer-button {
    -moz-image-region: rect(0px, 1472px, 64px, 1408px);
  }

  #developer-button[cui-areatype="menu-panel"][panel-multiview-anchor=true] {
    -moz-image-region: rect(64px, 1472px, 128px, 1408px);
  }

  #preferences-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #preferences-button {
    -moz-image-region: rect(0px, 1536px, 64px, 1472px);
  }

  #email-link-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #email-link-button {
    -moz-image-region: rect(0px, 1600px, 64px, 1536px);
  }

  #sidebar-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #sidebar-button {
    -moz-image-region: rect(0px, 1728px, 64px, 1664px);
  }

  #panic-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #panic-button {
    -moz-image-region: rect(0, 1792px, 64px, 1728px);
  }

  #panic-button[cui-areatype="menu-panel"][panel-multiview-anchor=true] {
    -moz-image-region: rect(64px, 1792px, 128px, 1728px);
  }

  #web-apps-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #web-apps-button {
    -moz-image-region: rect(0, 1856px, 64px, 1792px);
  }

  #webide-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #webide-button {
    -moz-image-region: rect(0px, 1920px, 64px, 1856px);
  }

  toolbaritem[sdkstylewidget="true"] > toolbarbutton {
    -moz-image-region: rect(0, 1664px, 64px, 1600px);
  }

  #loop-button[cui-areatype="menu-panel"] > .toolbarbutton-badge-container,
  toolbarpaletteitem[place="palette"] > #loop-button > .toolbarbutton-badge-container {
    list-style-image: url(chrome://browser/skin/loop/menuPanel@2x.png);
    -moz-image-region: rect(0, 64px, 64px, 0);
  }

  /* Make sure that the state icons are not shown in the customization palette. */
  toolbarpaletteitem[place="palette"] > #loop-button > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 64px, 64px, 0) !important;
  }

  #loop-button[cui-areatype="menu-panel"][state="disabled"] > .toolbarbutton-badge-container,
  #loop-button[cui-areatype="menu-panel"][disabled="true"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 128px, 64px, 64px);
  }

  #loop-button[cui-areatype="menu-panel"]:not([disabled="true"])[state="error"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 192px, 64px, 128px);
  }

  #loop-button[cui-areatype="menu-panel"]:not([disabled="true"])[state="action"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 256px, 64px, 192px);
  }

  #loop-button[cui-areatype="menu-panel"]:not([disabled="true"])[state="action"]:-moz-any(:hover,:hover:active,[open]) > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 320px, 64px, 256px);
  }

  #loop-button[cui-areatype="menu-panel"]:not([disabled="true"])[state="active"] > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 384px, 64px, 320px);
  }

  #loop-button[cui-areatype="menu-panel"]:not([disabled="true"])[state="active"]:-moz-any(:hover,:hover:active,[open]) > .toolbarbutton-badge-container {
    -moz-image-region: rect(0, 448px, 64px, 384px);
  }

  /* Wide panel control icons */

  #edit-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton,
  #zoom-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton,
  toolbarpaletteitem[place="palette"] > #edit-controls > toolbarbutton,
  toolbarpaletteitem[place="palette"] > #zoom-controls > toolbarbutton {
    list-style-image: var(--menupanel-small-list-style-image-2x);
  }

  /* Wide items like the Cut/Copy/Paste and Zoom controls are special in that their icons
     are 16x16 when in the panel, but 18x18 when in a toolbar. */
  #edit-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton > .toolbarbutton-icon,
  #zoom-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > toolbarbutton > .toolbarbutton-icon,
  toolbarpaletteitem[place="palette"] > #edit-controls > toolbarbutton > .toolbarbutton-icon,
  toolbarpaletteitem[place="palette"] > #zoom-controls > toolbarbutton > .toolbarbutton-icon {
    width: 16px;
  }

  #edit-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > #cut-button,
  toolbarpaletteitem[place="palette"] > #edit-controls > #cut-button {
    -moz-image-region: rect(0px, 64px, 32px, 32px);
  }

  #edit-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > #copy-button,
  toolbarpaletteitem[place="palette"] > #edit-controls > #copy-button {
    -moz-image-region: rect(0px, 96px, 32px, 64px);
  }

  #edit-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > #paste-button,
  toolbarpaletteitem[place="palette"] > #edit-controls > #paste-button {
    -moz-image-region: rect(0px, 128px, 32px, 96px);
  }

  #zoom-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > #zoom-out-button,
  toolbarpaletteitem[place="palette"] > #zoom-controls > #zoom-out-button {
    -moz-image-region: rect(0px, 160px, 32px, 128px);
  }

  #zoom-controls:-moz-any(:not([cui-areatype="toolbar"]), [overflowedItem=true]) > #zoom-in-button,
  toolbarpaletteitem[place="palette"] > #zoom-controls > #zoom-in-button {
    -moz-image-region: rect(0px, 192px, 32px, 160px);
  }

  #add-share-provider {
    list-style-image: url(chrome://browser/skin/menuPanel-small@2x.png);
    -moz-image-region: rect(0px, 192px, 32px, 160px);
  }

  #PanelUI-update-status > .toolbarbutton-icon,
  #PanelUI-fxa-status > .toolbarbutton-icon,
  #PanelUI-quit > .toolbarbutton-icon,
  #PanelUI-customize > .toolbarbutton-icon,
  #PanelUI-help > .toolbarbutton-icon {
    width: 16px;
  }  
}
