@import url("chrome://browser/skin/browser-common.css");

/* Linux */
#toolbar-menubar:not([autohide="true"]) + #TabsToolbar > .titlebar-placeholder[type="caption-buttons"] {
  display: none;
}
#TabsToolbar:not(:-moz-lwtheme),
#toolbar-menubar {
  -moz-appearance: menubar !important;
}
#navigator-toolbox > #toolbar-menubar {
  margin-top: 0 !important;
}
.tabbrowser-tab,
.tabs-newtab-button {
  padding: 0 0 2px;
}

.panel-arrowcontent {
  padding: 10px;
  color: -moz-DialogText;
  background: #ffffff;
  border: 1px solid #b7b7b7;
}
.panel-arrowcontainer:not([panelopen]) {
  opacity: 1;
}
.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
}

#context-navigation {
  margin: 1px;
  padding-top: 2px;
}
#context-navigation > .menuitem-iconic > .menu-iconic-left {
  visibility: visible;
  /* override toolkit/themes/linux/global/menu.css */
  -moz-padding-end: 0 !important;
  -moz-margin-end: 0 !important;
}

/* Fix #33 */
.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before {
  min-height: 20px;
}
