@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

panel[type="arrow"] {
  transition: opacity 300ms;
}

.panel-arrowcontainer[panelopen] {
  transition-duration: 100ms, 75ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}

.panel-arrowcontainer:not([panelopen]) {
  opacity: 0;
}

.panel-arrowcontainer:not([panelopen])[side="top"] {
  transform: translateY(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="bottom"] {
  transform: translateY(20px);
}

.panel-arrowcontainer:not([panelopen])[side="left"] {
  transform: translateX(-20px);
}

.panel-arrowcontainer:not([panelopen])[side="right"] {
  transform: translateX(20px);
}
