/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]),
#newtab-scrollbox:not([page-disabled]) #newtab-margin-bottom {
  background-color: rgb(250,250,250);
}

/* UNDO */
#newtab-undo-container {
  padding: 4px 3px;
  border: 1px solid;
  border-color: rgba(0,0,0,.09);
  background-color: rgba(255,255,255,.4);
  color: #6a6a6a;
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  color: -moz-nativehyperlinktext;
  color: rgb(0,102,204);
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#newtab-undo-close-button:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#newtab-undo-close-button:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#newtab-undo-close-button > .toolbarbutton-text {
  display: none;
}

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}

/* TOGGLE */
#newtab-toggle {
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png);
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0;
}

/* GRID 3D */
#newtab-grid {
  perspective: 1000px;
  padding-bottom: 12px;
}
#newtab-grid[locked] {
  perspective: none;
}

/* CELLS */
.newtab-cell {
  transform: rotateX(-15deg);
  transform-origin: 0 0;
  transition: .3s;
}
.newtab-cell:hover {
  transform: rotateX(-15deg) translateY(-9px);
  transition: .3s;
}

#newtab-grid[locked] > .newtab-cell {
  transform: none;
  transform-origin: 50% 50% 0;
  transition: none;
}
#newtab-grid:not([locked]) .newtab-site[frozen] {
  position: relative;
}

.newtab-cell:empty {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/*.newtab-cell:hover:not(:empty):not([dragged]):not([ignorehover]) {
}*/

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 20px 17px rgba(0,0,0,.15);
  /*transition: box-shadow 200ms ease-out;*/
}

.newtab-site:hover {
  box-shadow: 0 29px 17px rgba(0,0,0,.12);
}

.newtab-site[dragged] {
  transition: box-shadow 200ms ease-out;
  box-shadow: 0 20px 17px rgba(0,0,0,.3);
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.newtab-site[type=affiliate] .newtab-thumbnail,
.newtab-site[type=organic] .newtab-thumbnail,
.newtab-site[type=sponsored] .newtab-thumbnail {
  background-position: top center;
  background-size: auto;
}

/* TITLES */
.newtab-title {
  color: #000;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 100ms ease-out;
}
.newtab-site:not([dragged]):hover .newtab-title {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.newtab-site[type=sponsored] .newtab-title {
  -moz-padding-end: 24px;
}

/* CONTROLS */
.newtab-control {
  width: 24px;
  height: 24px;
  padding: 1px 2px 3px;
  border: none;
  background: transparent url(chrome://browser/skin/newtab/controls.png);
  transition-delay: 0s;
}

.newtab-control:-moz-focusring,
.newtab-site:hover > .newtab-control {
  transition-delay: 800ms;
}

.newtab-control-pin:hover {
  background-position: -24px 0;
}

.newtab-control-pin:active {
  background-position: -48px 0;
}

.newtab-control-pin[pinned] {
  background-position: -72px 0;
}

.newtab-control-pin[pinned]:hover {
  background-position: -96px 0;
}

.newtab-control-pin[pinned]:active {
  background-position: -120px 0;
}

.newtab-control-block {
  background-position: -144px 0;
}

.newtab-control-block:hover {
  background-position: -168px 0;
}

.newtab-control-block:active {
  background-position: -192px 0;
}

.newtab-control-sponsored {
  background-position: -249px -1px;
}

.newtab-control-sponsored:hover {
  background-position: -265px -1px;
}

.newtab-control-sponsored[panelShown] {
  background-position: -281px -1px;
}

/* SEARCHBAR -Louis */
#newtab-search-form {
  margin-bottom: 40px;
}
#newtab-search-logo {
  background-color: #eee;
}
#newtab-search-text {
  box-shadow: none;
  background-color: #eee;
  border-color: #eee;
  transition-property: background-color;
  transition-duration: 100ms;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#newtab-search-text:focus,
#newtab-search-text[autofocus] {
  background-color: #fff;
  border-color: #ddd;
}
#newtab-search-submit {
  color: transparent;
  border-color: #eee;
  border-left: none;
  -moz-margin-start: -40px;
  background: #eee no-repeat 41px -1px;
  background-image: url("chrome://browser/skin/newtab/newtab-search.png") !important;
  box-shadow: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-margin-end: 77px;
  transition-duration: 100ms;
}
@media (min-resolution: 2dppx) {
  #newtab-search-submit {
    background-image: url("chrome://browser/skin/newtab/newtab-search@2x.png") !important;
    background-size: 58px 64px;
  }
}
#newtab-search-text:focus + #newtab-search-submit,
#newtab-search-text + #newtab-search-submit:hover,
#newtab-search-text[autofocus] + #newtab-search-submit {
  border-color: transparent;
  color: transparent;
}

#newtab-search-text:focus + #newtab-search-submit,
#newtab-search-text[autofocus] + #newtab-search-submit {
  background-color: #fff;
  border-color: #ddd;
  box-shadow: none;
}

#newtab-search-text + #newtab-search-submit:hover,
#newtab-search-text + #newtab-search-submit:hover:active {
  box-shadow: none;
}
