/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
 
:root {
  -moz-appearance: none;
  font-size: 75%;
  background-color: transparent;
}

/* SCROLLBOX */
#newtab-scrollbox:not([page-disabled]) {
  color: rgb(0,0,0);
  background-color: rgb(250,250,250);
}

#newtab-scrollbox:not([page-disabled]) #newtab-margin-bottom {
  background: inherit;
}

/* UNDO */
#newtab-undo-container {
  padding: 4px 3px;
  border: 1px solid;
  border-color: rgba(0,0,0,.09);
  background-color: rgba(255,255,255,.4);
  color: #6a6a6a;
}

#newtab-undo-label {
  margin-top: 0;
  margin-bottom: 0;
}

.newtab-undo-button {
  -moz-appearance: none;
  cursor: pointer;
  padding: 0;
  margin: 0 4px;
  border: 0;
  background: transparent;
  text-decoration: none;
  min-width: 0;
}

.newtab-undo-button:hover {
  text-decoration: underline;
}

.newtab-undo-button:-moz-focusring {
  outline: 1px dotted;
}

#newtab-undo-close-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
}

#newtab-undo-close-button:-moz-focusring {
  outline: 1px dotted;
}

/* CUSTOMIZE */
#newtab-customize-button,
.newtab-customize {
  background-color: transparent;
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 32, 32, 0);
  background-size: 32px;
  border: none;
  height: 28px;
  width: 28px;
}

#newtab-customize-button:-moz-any(:hover, :active, [active]) {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 64, 32, 32);
}

/* GRID 3D */
#newtab-grid {
  perspective: 1000px;
  padding-bottom: 12px;
}
#newtab-grid[locked] {
  perspective: none;
}

/* CELLS */
.newtab-cell {
  transform: rotateX(-8deg);
  transform-origin: 0 0;
  transition: .3s;
}
.newtab-cell:hover:not(:empty) {
  transform: rotateX(-8deg) translateY(-9px);
  transition: .3s;
}

#newtab-grid[locked] > .newtab-cell {
  transform: none;
  transform-origin: 50% 50% 0;
  transition: none;
}
#newtab-grid:not([locked]) .newtab-site[frozen] {
  position: relative;
}

.newtab-cell:empty {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/*.newtab-cell:hover:not(:empty):not([dragged]):not([ignorehover]) {
}*/

/* SITES */
.newtab-site {
  text-decoration: none;
  transition-property: top, left, opacity, box-shadow, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 20px 17px rgba(0,0,0,.15);
  /*transition: box-shadow 200ms ease-out;*/
}

.newtab-site:hover {
  box-shadow: 0 29px 17px rgba(0,0,0,.12);
}

.newtab-site[dragged] {
  transition: box-shadow 200ms ease-out;
  box-shadow: 0 20px 17px rgba(0,0,0,.3);
}

/* THUMBNAILS */
.newtab-thumbnail {
  background-origin: padding-box;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;
  opacity: 1;
}

.newtab-site:hover .newtab-thumbnail.enhanced-content {
  opacity: 0;
}

.newtab-site[type=affiliate] .newtab-thumbnail,
.newtab-site[type=enhanced] .newtab-thumbnail,
.newtab-site[type=organic] .newtab-thumbnail,
.newtab-site[type=sponsored] .newtab-thumbnail {
  background-position: center center;
  background-size: auto;
}

/* TITLES */
.newtab-title {
  color: #000;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 100ms ease-out;
}
.newtab-site:not([dragged]):hover .newtab-title {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

/*.newtab-site[pinned] .newtab-title {
  padding: 0 15px;
}

.newtab-site[pinned] .newtab-title::before {
  background-image: -moz-image-rect(url("chrome://browser/skin/newtab/controls.svg"), 7, 278, 28, 266);
  background-size: 10px;
  content: "";
  height: 17px;
  left: 0;
  position: absolute;
  width: 10px;
}

.newtab-site[pinned] .newtab-title:-moz-locale-dir(rtl)::before {
  left: auto;
  right: 0;
}*/

/* CONTROLS */
.newtab-control {
  background-color: transparent;
  background-size: 24px;
  border: none;
  height: 26px;
  width: 24px;
}

.newtab-control-pin,
.newtab-site[pinned] .newtab-control-pin:hover:active {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 96, 33, 64);
}

.newtab-control-pin:hover,
.newtab-site[pinned] .newtab-control-pin:hover {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 160, 33, 128);
}

.newtab-control-pin:hover:active,
.newtab-site[pinned] .newtab-control-pin {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 128, 33, 96);
}

.newtab-control-block {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 192, 33, 160);
}

.newtab-control-block:hover {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 224, 33, 192);
}

.newtab-control-block:hover:active {
  background-image: -moz-image-rect(url(chrome://browser/skin/newtab/controls.svg), 0, 256, 33, 224);
}


.newtab-undo-button {
  color: rgb(0,102,204);
}

.newtab-undo-button > .button-box {
  padding: 0;
}

/* SEARCHBAR -Louis */
#newtab-search-form {
  margin-bottom: 40px;
}

#newtab-search-logo,
#newtab-search-icon {
  position: absolute;
  top: 32px;
  background-image: url("chrome://browser/skin/newtab/newtab-search.png") !important;
  background-position: 0 bottom;
  background-size: 58px 96px !important;
  height: 32px;
  width: 25px !important;
  border: none;
  -moz-margin-start: 46px;
}
#newtab-search-logo[active],
#newtab-search-logo:hover,
#newtab-search-icon[active],
#newtab-search-icon:hover {
  background-position: -29px bottom;
  background-color: transparent;
  border: none;
}

#newtab-search-text {
  height: 32px;
  box-shadow: none;
  background-color: #eee;
  border-color: #eee;
  transition-property: background-color;
  transition-duration: 100ms;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-padding-start: 30px;
  -moz-margin-start: 46px;
}
#newtab-search-text:focus,
#newtab-search-text[autofocus] {
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.searchSuggestionTable {
  -moz-margin-start: 23px;
  background-color: rgba(255, 255, 255, .88);
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

#newtab-search-submit {
  height: 32px;
  color: transparent;
  border-color: #eee;
  border-left: none;
  -moz-margin-start: -27px;
  -moz-margin-end: 46px;
  background: #eee no-repeat 30px -1px;
  background-image: url("chrome://browser/skin/newtab/newtab-search.png") !important;
  box-shadow: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-duration: 100ms;
}
@media (min-resolution: 2dppx) {
  #newtab-search-logo,
  #newtab-search-icon,
  #newtab-search-submit {
    background-image: url("chrome://browser/skin/newtab/newtab-search@2x.png") !important;
    background-size: 58px 96px;
  }
}
#newtab-search-text:focus + #newtab-search-submit,
#newtab-search-text + #newtab-search-submit:hover,
#newtab-search-text[autofocus] + #newtab-search-submit {
  border-color: transparent;
  color: transparent;
}

#newtab-search-text:focus + #newtab-search-submit,
#newtab-search-text[autofocus] + #newtab-search-submit {
  background-color: #eaeaea;
  border-color: #eaeaea;
  box-shadow: none;
}

#newtab-search-text + #newtab-search-submit:hover,
#newtab-search-text + #newtab-search-submit:hover:active {
  box-shadow: none;
  background-position: 30px -33px;
}
