/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  -moz-appearance: none;
  padding: 18px;
  background-repeat: repeat;
  color: -moz-dialogText;
  background-color: #F8F8F8;
}

html|html {
  font: message-box;
}

@media (-moz-windows-default-theme) {
}

@media (-moz-windows-compositor) {
}

/* Use the new in-content colors for #contentAreaDownloadsView. After landing
   of bug 989469 the colors can be moved to *|*:root */
*|*#contentAreaDownloadsView {
  background: #f1f1f1;
  color: #424e5a;
}

/* Content */
*|*.main-content {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  /* Disabled because of bug 623615
  overflow: hidden;
  */
  background-color: rgba(255, 255, 255, 0.35);
  background-image: -moz-linear-gradient(top,
                                         rgba(255, 255, 255, 0),
                                         rgba(255, 255, 255, 0.75));
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

@media (-moz-windows-compositor) {
  /* Buttons */
  *|button,
  menulist,
  colorpicker[type="button"] {
    -moz-appearance: none;
    color: black;
    padding: 0 5px;
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(240,240,240,.8));
    background-clip: padding-box;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.22);
  }

  menulist {
    -moz-padding-end: 0;
  }

  colorpicker[type="button"]:-moz-focusring:not([open="true"]) > .colorpicker-button-colorbox {
    outline: 1px dotted ThreeDDarkShadow;
  }

  html|button[disabled],
  button[disabled="true"],
  menulist[disabled="true"],
  colorpicker[type="button"][disabled="true"] {
    -moz-border-top-colors: rgba(100, 100, 100, 0.4) !important;
    -moz-border-right-colors: rgba(100, 100, 100, 0.4) !important;
    -moz-border-bottom-colors: rgba(100, 100, 100, 0.4) !important;
    -moz-border-left-colors: rgba(100, 100, 100, 0.4) !important;
    opacity: 0.8;
    color: #505050;
  }

  html|button:not([disabled]):active:hover,
  button:not([disabled="true"]):active:hover,
  menulist[open="true"]:not([disabled="true"]),
  colorpicker[type="button"][open="true"]:not([disabled="true"]) {
    background-image: linear-gradient(rgba(218,218,218,.8), rgba(225,225,225,.8));
  }

  button > .button-box {
    padding: 1px !important;
  }

  spinbuttons > .spinbuttons-box > .spinbuttons-button {
    border-radius: 0;
    padding: 0 4px;
  }

  spinbuttons > .spinbuttons-box > .spinbuttons-up {
    list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
    border-bottom-width: 0;
  }

  spinbuttons > .spinbuttons-box > .spinbuttons-down {
    list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  }
}

colorpicker[type="button"] {
  margin: 1px 5px 2px 5px;
  padding: 3px;
  height: 25px;
}
