/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  color: InfoText;
  background-color: InfoBackground;
  text-shadow: none;
}

notification[type="info"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

notification[type="critical"] {
  color: white;
  background-image: linear-gradient(rgb(212,0,0), rgb(152,0,0));
}

.messageText > .text-link {
  color: inherit !important;
  text-decoration: underline;
}

.messageImage {
  width: 16px;
  height: 16px;
  -moz-margin-start: 6px;
  -moz-margin-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.messageCloseButton {
  -moz-appearance: none;
  padding: 4px 2px;
  border: none !important;
}

.messageCloseButton > .toolbarbutton-icon {
  -moz-margin-end: 5px;
}

/* Popup notification */

.popup-notification-description {
  max-width: 24em;
}

.popup-notification-learnmore-link {
  margin-top: 1em !important;
}

.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-button-container {
  margin-top: 17px;
}

/*
XXX: apply styles to all themes until bug 509642 is fixed
@media (-moz-windows-default-theme) {
*/
  .popup-notification-menubutton {
    -moz-appearance: none;
    border-radius: 3px;
    padding: 0;
  }

  .popup-notification-menubutton:hover:active {
    border-color: rgba(0,0,0,.5);
  }

  .popup-notification-menubutton:not([type="menu-button"]),
  .popup-notification-menubutton > .button-menubutton-button,
  .popup-notification-menubutton > .button-menubutton-dropmarker {
    -moz-appearance: none;
    margin: 0;
    border: 1px solid rgba(0,0,0,.2);
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(240,240,240,.8));
  }

  .popup-notification-menubutton > .button-menubutton-button {
    background-color: transparent;
    padding: 1px;
    -moz-border-end: none;
  }

  .popup-notification-menubutton:not([type="menu-button"]),
  .popup-notification-menubutton > .button-menubutton-button > .button-box {
    -moz-padding-start: 8px;
    -moz-padding-end: 5px;
  }

  .popup-notification-menubutton > .button-menubutton-dropmarker {
    padding: 9px 5px 8px;
    width: auto;
    height: auto;
    list-style-image: url("chrome://global/skin/arrow/arrow-dn-sharp.gif");
  }

  .popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker {
    outline: 1px dotted ThreeDDarkShadow;
    outline-offset: -3px;
  }

  .popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(ltr),
  .popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(rtl) {
    border-radius: 2px 0 0 2px;
  }

  .popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(rtl),
  .popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(ltr) {
    border-radius: 0 2px 2px 0;
  }

  .popup-notification-menubutton:not([type="menu-button"]):hover,
  .popup-notification-menubutton > .button-menubutton-button:hover,
  .popup-notification-menubutton > .button-menubutton-dropmarker:hover {
    background-image: linear-gradient(rgba(246,246,246,.8), rgba(231,231,231,.8));
  }

  .popup-notification-menubutton:not([type="menu-button"]):hover:active,
  .popup-notification-menubutton > .button-menubutton-button:hover:active,
  .popup-notification-menubutton > .button-menubutton-dropmarker:hover:active,
  .popup-notification-menubutton[open="true"] > .button-menubutton-dropmarker {
    background-image: linear-gradient(rgba(218,218,218,.8), rgba(225,225,225,.8));
  }
/*}*/

.popup-notification-closebutton {
  -moz-margin-end: -14px;
  margin-top: -10px;
}

.popup-notification-closeitem {
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}
